* {
    margin: 0;
    box-sizing: border-box;
}
/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

h1 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

h2,h3, p {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 14px;
}

/*Header*/
header {
    background-color: #658D99;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    grid-area: header;
}

/*General*/
.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header header header header header"
        ". . bank bank select . ."
        ". . work work loan . ."
        ". .  info info info . .";
}
section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 10px;
    margin: 1rem;
}

.wide {
    width: 40rem;
    height: 8rem;
}

.small {
    width: 12rem;
    height: 12rem;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*buttons*/
button {
    border-radius: 5px;
    border: none;
    height: 2rem;
    width: 7rem;
    cursor: pointer;
    margin: 0.5rem 0;
    transition-duration: 0.4s;
    box-shadow: 0px 5px 15px -10px;
}

#get-loan-btn {
    background-color: #AFD9E6;
    position: relative;
    left: 20px;
}

#get-loan-btn:hover {
    background-color: #9BC1CC;
}

#get-loan-btn:active {
    transform: scale(.96);
}

#work-btn {
    background-color: #A3E6D1;
    position: relative;
    left: 30px;
}
   
#work-btn:hover {
    background-color: #91CCB9;
}
   
#work-btn:active {
    transform: scale(.96);
}
   
#bank-btn {
    background-color: #AFD9E6;
    position: relative;
    left: 30px;
}
   
#bank-btn:hover {
    background-color: #9BC1CC;
}
   
#bank-btn:active  {
    transform: scale(.96);
}
   
#repay-loan-btn {
    background-color: #E6C3BA;
    position: relative;
    left: 30px;
    display: none;
}
   
#repay-loan-btn:hover {
    background-color: #CCADA5;
}
   
#repay-loan-btn:active {
    transform: scale(.96);
}

#buy-laptop-btn {
    background-color: #A3E6D1;
    position: relative;
    right: 10px;
}

#buy-laptop-btn:hover {
    background-color: #91CCB9;
}

#buy-laptop-btn:active {
    transform: scale(.96);
}

/*Bank*/
.bank {
    margin-top: 5rem;
    grid-area: bank;
}

.balance {
    width: 5rem;
}

/*Outstanding Loan*/
.outstanding-loan {
    flex-direction: column;
    grid-area: loan;
    position: relative;
    left: -10px;
    top: -10px;
    visibility: hidden;
}

#loan-amount {
    position: relative;
    bottom: 1.5rem;
}

/*Work*/
.work {
    grid-area: work;
    height: 10rem;
    position: relative;
    bottom: 120px;
}

#work-amount {
    position: relative;
    left: 20px;
    width: 5rem;
}

/*Laptop Select*/
.laptop-select {
    flex-direction: column;
    grid-area: select;
    margin-top: 5rem;
    position: relative;
    left: -10px;
    height: 15rem;
}

.headlaptop {
    position: relative;
    top: 10px;
}

.headfeat {
    margin-left: 2rem;
}

#features {
    margin: 0 2rem 1rem 2rem;
    font-size: 12px;
    min-width: 10rem;
    height: 6.5rem;
}

/*Laptop Info*/
.laptop-info {
    grid-area: info;
    position: relative;
    bottom: 160px;
    height: 12rem;
}

img {
    width: 150px;
    position: relative;
    left: 1.5rem;
}

#laptop-name {
    width: 15rem;
}

#laptop-info {
    width: 15rem;
}

#laptop-cost {
    position: relative;
    right: 10px;
}
